.user {
  display: flex;
}
.user-form-wrapper {
  width: 90%;
}
.user-actions-wrapper {
  display: flex;
  margin-left: 3%;
}
.btn {
  border-radius: 10px;
  height: 50px;
}
.spinner-icon {
  margin-top: 33px;
  margin-right: 15px;
}
